 

.vscode
./updated/
agent/
./
newvenv/
./myenv/
p1.ipynb
./p1.ipynb/
./env
*.pyc
myenv/
*.ipynb
.env
*.pdf
langchain
venv/
updatedai/media

node_modules
.env.local

convex/_generated/
updatedai/.env.local